
<div class="container" style="margin-top: 20px;">
    <h3>Detalhe de pessoa</h3>
    <hr>
    <div class="form-row">
        <div class="form-group col-12">
            <label><strong>Nome</strong></label>
            <label>&nbsp; {{ pessoa.nome }}</label>
            <br>
            <label><strong>Data de Nascimento: </strong></label>
            <label>&nbsp; {{ pessoa.dataNascimento }}</label>
            <br>
            <label><strong>Email:</strong> </label>
            <label>&nbsp; {{ pessoa.email }}</label>
            <br/>
            <label><strong>Telefone:</strong> </label>
            <label>&nbsp; {{ pessoa.telefone }}</label>
            <br/>
            <label><strong>CPF:</strong> </label>
            <label>&nbsp; {{ pessoa.cpf }}</label>      
        </div>
        <div class="form-group col-12">
            <hr/>   
            <button type="button" (click)="alterar(pessoa.id)" class="btn btn-primary btn-md mr-2">Alterar</button>
            <button type="button" (click)="deletar(pessoa.id)" class="btn btn-danger btn-md mr-2">Deletar</button>
            <button type="submit" [routerLink]="['/pessoa-listar']" class="btn btn-warning btn-md mr-2">Voltar</button>
        </div>
    </div>        
<div>

